<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450381837508-qf6amv72tgjlr6slb4lr55i4veke6ppp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450381837508-qf6amv72tgjlr6slb4lr55i4veke6ppp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>450381837508-0lda568ejap1n7s308smfhh1tlqt1ucl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKPPANaN-lj9tVAqhWfXV_gwWYlWhrELo</string>
	<key>GCM_SENDER_ID</key>
	<string>450381837508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postHouseRentApp</string>
	<key>PROJECT_ID</key>
	<string>post-room-house-rent</string>
	<key>STORAGE_BUCKET</key>
	<string>post-room-house-rent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450381837508:ios:bb681bd6b22c6476ae8591</string>
</dict>
</plist>